entrypoint = "main.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs", ".ccls-cache", ]
run = "python ./src/main.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
# run ["tepl", "index.tepl"]
deploymentTarget = "cloudrun"
# [gitHubImport]
# requiredFiles = [".replit", "replit.nix", ".ccls-cache"]
