body {
    font-family: Arial, sans-serif;
    background-color: #e5ad34;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

@font-face {
    font-family: ChelseaMarket-Regular;
    src: url('ChelseaMarket-Regular.ttf');
}

.mainh1 {
    text-align: center;
    margin-top: 50px;
    color: #1da2b4;
    font-family: ChelseaMarket-Regular;
}

.centeredtext {
    text-align: center;
    color: #1da2b4;
    font-family: ChelseaMarket-Regular;
}

.maininfo {
    text-align: center;
    color: #1da2b4;
    font-family: ChelseaMarket-Regular;
    font-size: 20px;
}

#teplthumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bgimagehelp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    position: relative;
    width: 50%;
}

#help {
    float: left;
    position: absolute;
    top: 0px;
    left: 500px;
    z-index: 1000;
    color: black;
    text-align: right;
    padding: 5px;
}

.bullet {
    color: #1da2b4;
    font-family: ChelseaMarket-Regular;
    font-size: 20px;
}

@media screen and (orientation: landscape) {
    #toolbar {
        position: fixed;
        width: 2.65em;
        height: 100%;
    }
}

a.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.download-link:hover {
    background-color: #0056b3;
}
